body {
    background-color: #e0e0e0; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

 .invitation-card {
    background-color: #fdfaf2;
    width: 450px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    position: relative;
    text-align: center;
    color: #1a2e44; 
}


.inner-border {
    border: 1px solid #c5a059; 
    padding: 20px;
    height: 100%;
    position: relative;
}


.inner-border{
    border: 2px solid #c5a059;
}

.header h1 {
    font-family: 'Cinzel', serif;
    font-size: 24px;
    letter-spacing: 2px;
}


.class-of {
    font-weight: bold;
    letter-spacing: 3px;
    border-top: 1px solid #c5a059;
    border-bottom: 1px solid #c5a059;
    display: inline-block;
    padding: 5px 20px;
    margin-top: 0;
}


.intro-text {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 19px;
    margin: 30px 0 10px 0;
}

.name {
    font-family: 'Cinzel', serif;
    font-size: 35px;
    margin: 0;
    color: #1a2e44;
}

.degree {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
}

.info-section {
    margin-top: 40px;
    text-align: left;
    display: inline-block;
}

.info-section p {
    font-size: 15px;
    margin: 8px 0;
}

.info-section strong {
    color: #c5a059;
    margin-right: 10px;
}

.footer-quote {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 15px;
    margin-top: 40px;
    color: #c5a059;
} 
