*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;   
}

.navigation{
    display: flex;
    width: 100%;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1000;
    scroll-behavior: smooth;

}

.navigation ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;


}

.navigation ul li{
    color: white;
    padding: 15px;    
}

.navigation ul li:hover{
    text-decoration: underline;
    cursor: pointer;
    color: red;
}
h1{
    color: orangered;
}
.gallery{
    display: grid;
    width: 100%;
    height: 500px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;

}
.gallery div{
    overflow: hidden;
    justify-content: center;
}

.gallery div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.footer {
    display: flex;
    justify-content: space-between; 
    background-color: black;
    padding: 30px 60px;
    margin-top: 40px;
}
.footer div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.footer p{
    cursor: pointer;
    font-size: 14px;
    color: white;
}

.footer p:hover {
    text-decoration: underline;
}


/* this mobile layout*/



@media (max-width: 768px) {

  .navigation ul {
    flex-direction: column;
    align-items: center;

  }

  .navigation ul li {
    padding: 10px;

  }

  .gallery {
    grid-template-columns: 1fr; 
    grid-template-rows: auto;
    height: auto;
  }

  .gallery div {
    height: 250px; 
  }

  .footer {
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    text-align: center;
  }

  .footer div {
    align-items: center;
  }

  h1 {
    font-size: 22px;
    text-align: center;
  }
}


