* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #00e38c;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* MAIN WHITE CARD */
.product__photo {
  width: 700px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 40px;
  border-radius: 8px;
  position: relative;
  padding-left: 180px; 

}

/* =========================
   FLOATING GREEN IMAGE CARD
========================= */
.product__photo > .photo-container {
  background-color: #b6e356;
  padding: 30px;
  border-radius: 6px;
  position: absolute;
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);

}

/* MAIN IMAGE */
.photo-main {
  position: relative;
  display: flex;
  justify-content: center;
}

.photo-main img {
  width: 260px;
}



.product__photo > .photo-container .photo-album {
  margin-top: 25px;
}

.product__photo > .photo-container .photo-album ul {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
}

.product__photo > .photo-container .photo-album li {
  background: white;
  padding: 6px;
  border-radius: 6px;
}

.product__photo > .photo-container .photo-album img {
  width: 45px;
}

/* =========================
   RIGHT CONTENT
========================= */
.photo-album {
  display: grid;
  grid-template-rows: repeat(5, auto);
}

.photo-album > div {
  padding: 10px;
}

.photo-album h3,
.photo-album h5 {
  margin: 0;
}

h2 {
  color: red;
  font-size: 36px;
}

/* COLORS */
.colors img {
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.colors img:hover {
  border: 1px solid #000;
}

/* BENEFITS */
ul {
  padding-left: 18px;
}

li {
  margin-bottom: 6px;
}

h5 {
  color: gray;
}

/* BUTTON */
.cart button {
  background-color: #ff4d4d;
  height: 45px;
  width: 160px;
  color: white;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.product__photo > .photo-album {
  grid-column: 3 / 3;
}
