@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #f0f0f0;
}

nav{
    display: flex;
    background-color: black;
    justify-content: space-between;
    height: 50px;
    padding: 0px;
    position: sticky;
    top:0;
}

body{
    margin-top: 0px;
    padding: 0px;
    background-color: lightgray;
    margin: 0px;

}

nav>a,nav>div{
    padding: 10px;
    text-decoration: none;
    color: white;
}
nav>div>a{
   margin-inline: 10px;
   text-decoration: none;
   color: white;
}
#books > h3{
    font-weight: 900;
}
#books,#register{
    display: flex;
    width: 100vw;
    justify-content: center;
}
#books-div,#register-div{
    background-color: white;
    margin-top: 40px;
    padding: 20px;
    box-shadow: 0px 0px 2px lightgray;
    border-radius: 5px;

}
table,td,th{
    border: 1px solid lightgray;
    border-collapse: collapse;
}

td,th{
    padding: 10px;
}
td > a {
    display: block;
    margin-bottom: 10px;
}

form{
    display: flex;
    flex-direction: column;
}

#register-div{
    width: 612px;
}

button{
    background-color: black;
    border: none;
    color: white;
    font-size: 17px;
    margin-top: 10px;
    padding: 5px;
}



